* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

header {
    background-image: url(../img/landscape-5289604_1280.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}


/*header{
   background-color: #22116D
}
   */

.nav-links ul {
    list-style: none;
    text-align: center;
}

.nav-links ul li {
    display: inline-block;
    margin: 15px 15px 10px 10px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #fff;
}

.nav-links ul li a:hover {
    background-color: #F2BB77;
    color: #fff;
    border: 1px solid #F2BB77;
    padding: 10px 10px 10px 10px;
}

ul li.home a {
    background-color: #F2BB77;
    color: #fff;
    border: 1px solid #F2BB77;
    padding: 5px 10px 5px 10px
}

.inicial-pag h1,
p {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 35%;
    font-size: 5vh;
    color: white;
}

.inicial-pag h3 {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 35%;
    font-size: 20px;
    color: white;
    width: 500px;
    font-weight: 400
}

.inicial-pag .space {
    margin-top: 70px;
    width: 500px
}


/*.inicial-pag button{
    margin-top: 30px 0 0 30px;
    border: 2px solid #F27405;
    background-color: #F27405;
    color: #fff;
    width:150px;
    height: 50px;
    cursor: pointer;
    font-size:16px;
    border:none;
    color: #fff;
    font-weight:  400;
}*/

.inicial-pag img {
    height: 50vh;
    position: absolute;
    top: 30%;
    left: 10%;
    border: 1px solid #fff
}

.pag-one {
    background-color: #024059;
    background-size: cover;
    height: 800px;
}

.pag-one h1 {
    position: absolute;
    top: 100%;
    left: 40%;
    color: #F2C335;
    margin-top: 25px;
    text-align: center;
    font-size: 40px;
}

.card-one {
    position: absolute;
    top: 110%;
    left: 45%;
    transform: translate(-50%, 50%);
    width: 378px;
    height: 200px;
    transform-style: preserve-3d;
    perspective: 200px;
    transition: 0.5s;
}

.card-one .front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}

.card-one:hover .front {
    transform: rotateX(-180deg)
}

.card-one .front img {
    height: 200px;
    border: 5px solid #F2C335;
}

.card-one .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
}

.card-one:hover .back {
    transform: rotateX(0deg)
}

.card-one .back .details .social-media {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.card-one .back .details {
    position: absolute;
    top: 40%;
    transform: translateY(-50);
    left: 30;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.card-one .back .details h2 {
    position: relative;
    bottom: 50px;
    padding: 0;
    font-size: 20px;
    color: #F2AB6D
}

.social-media {
    padding: 50px 0px;
}


/*cor dentro do ícone*/

.social-media a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #d2d2d2;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    /*deixou redondo*/
    position: relative;
    bottom: 30px;
    transition: o.5s;
}

.social-media a .icon {
    line-height: 50px;
    position: relative;
    bottom: 5%;
    height: 50px;
}

.social-media a:hover {
    background: #F2BB77;
}

.pag-two {
    background-color: #025E73;
    height: 230px;
    width: 100%;
    box-sizing: border-box;
}

.pag-two .pro-icon {
    position: relative;
    left: 28%;
    margin-top: 30px;
}

.pag-two h1 {
    text-align: center;
    position: relative;
    top: 5%;
    right: 5%;
    color: #F2C335;
}

footer {
    clear: both;
    height: 100px;
    width: 100%;
    background-color: #024059;
    box-sizing: border-box;
}

.footer-icon a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #d2d2d2;
    color: white;
    text-decoration: none;
    border-radius: 60%;
    /*deixou redondo*/
    position: relative;
    left: 40%;
    top: 25px;
    transition: 0.5s;
    margin-left: 15px;
}

.footer-icon a img {
    line-height: 50px;
    height: 35px;
    position: relative;
    left: 13%;
    top: 13%;
}

.footer-icon a:hover {
    background: #F2BB77;
}