*{
    background:#F2F2F2 ;
    font-family: 'Rubik', sans-serif;   
}
main{
    flex: 2
}

.principal-about h1{
    color:  #7B84DB;
    width:60%;
    margin-top: 15%;
    position: absolute;
    left: 10%;  
    font-size: 40px;
    font-weight: 500;
}

.about{
    position: absolute;
    left: 10%;
    width: 40%;
    margin-top:20%;
    font-weight: 300;
}

.social-link{
    position: absolute;
    left: 10%;
    width: 20%;
    margin-top: 25%;
}

.social-link a{
   color:  #7B84DB;
    text-decoration: none;
    display:inline;
    justify-content:space-around;
}
.social-link a:hover{
    color:black
}
.linke{
    margin: 0 10px
}
    
}

.img-about{
    height:  60vh;
}

.about-img{
    height: 40%;
    position:absolute;
    right: 20%;
    margin-top: 10%;
        
}